{
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }}],
        ["@babel/stage-2", { "loose": true, "decoratorsLegacy": true }]
      ],
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
