style {
  body {
    margin: 0;
  }
}

div.form-row
  label for="theme" -- Theme
  select id="theme"
    option value="d" -- Dark
    option value="l" -- Light

hr

div.form-row
  input type="checkbox" id="track-errors" checked
  label for="track-errors" -- Allow error tracking

footer
  small
    em -- Tip: Settings sync accross accounts.
