/*
  GLOBAL STYLES
*/

:root {
  /* Colours inspired by https://github.com/Binaryify/OneDark-Pro */
  --grey-darker: #21252b;
  --grey-dark: #2f333d;
  --grey: #282c34;
  --grey-light: #9da5b4;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: var(--grey-light);
  background-color: var(--grey-darker);
}
