/**
 * Global Styles
 */

:root {
  --s: #06001124; /* shadow colour */
  --s1: drop-shadow(0 18px 18px #0600114d); /* shadow dark */
  --b: #23252d; /* background colour */
  --t: #9da5b4; /* text colour */
  --c: #21252b; /* bookmark item hover background, hr */
  --c1: #292d35; /* bookmarks bar, load more button */
  --c2: #2f333d; /* menu dropdown */
  --c3: #2c313a; /* search input */
  --c4: #383e4a; /* menu hamberger icon, h2, muted text */
  --c5: #5c6370; /* search input placeholder */

  /* Colour palette - REF: https://github.com/Binaryify/OneDark-Pro */
  /*
  --ref0: #00809b33;
  --ref1: #181a1f;
  --ref2: #1d1f23;
  --ref3: #21252b;
  --ref4: #282c34;
  --ref5: #29244b;
  --ref6: #292d35;
  --ref7: #2bbac5;
  --ref8: #2c313a;
  --ref9: #2d3139;
  --ref10: #2e8ccf;
  --ref11: #2f333d;
  --ref12: #314365;
  --ref13: #323842;
  --ref14: #383e4a;
  --ref15: #3b4048;
  --ref16: #3f5de6da;
  --ref17: #404754;
  --ref18: #42557b;
  --ref19: #484e5b;
  --ref21: #495162;
  --ref22: #4d78cc;
  --ref23: #4e566680;
  --ref24: #52adf2;
  --ref25: #569cd6;
  --ref26: #57adb8;
  --ref27: #57b6c2;
  --ref28: #5a637580;
  --ref29: #5c6370;
  --ref30: #66017a;
  --ref31: #67769660;
  --ref32: #6796e6;
  --ref33: #6b717d;
  --ref34: #747369;
  --ref35: #747d9180;
  --ref36: #7e0097;
  --ref37: #89ca78;
  --ref38: #98c378;
  --ref39: #98c379;
  --ref40: #98c379ff;
  --ref41: #9da5b4;
  --ref42: #a6b2c0;
  --ref43: #aab1c0;
  --ref44: #aab1c026;
  --ref45: #b267e6;
  --ref46: #b4881d;
  --ref47: #b9c0ca;
  --ref48: #bbb;
  --ref49: #be4f44;
  --ref50: #c178dd;
  --ref51: #c24038;
  --ref52: #c5c5c5;
  --ref53: #c679dd;
  --ref54: #c8c8c8;
  --ref55: #cd9731;
  --ref56: #d18c4e;
  --ref57: #d19a66;
  --ref58: #d19a66ff;
  --ref59: #d27b53;
  --ref60: #d2945d;
  --ref61: #d55fde;
  --ref62: #d55fdeff;
  --ref63: #d7dae0;
  --ref64: #d8985f;
  --ref65: #e05252;
  --ref66: #e06c60;
  --ref67: #e06c75ff;
  --ref68: #e0c285;
  --ref69: #e5c07b;
  --ref70: #e5c07bff;
  --ref71: #ef596f;
  --ref72: #ef596fff;
  --ref73: #f44747;
  --ref74: #f8fafd;
  --ref75: #f00;
  --ref76: #fff;
  --ref77: #ffffff10;
  --ref78: #ffffffc9;
  */
}

html,
body,
div,
a,
h2,
p,
ul,
li,
input {
  box-sizing: border-box;
}

body {
  padding-bottom: 54px;
  margin: 100px 0 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  color: var(--t);
  background-color: var(--b);
}

.g, /* muted colour */
h2 {
  color: var(--c4);
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
