/**
 * Global styles.
 */

:root {
  /* Colours inspired by https://github.com/Binaryify/OneDark-Pro */
  --g0: #21252b;
  --g1: #2f333d;
  --g2: #282c34;
  --g4: #383e4a;
  --g5: #9da5b4;
}

html,
body,
div,
a,
h2,
p,
ul,
li,
input {
  box-sizing: border-box;
}

body {
  padding-bottom: 54px;
  margin: 100px 0 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  color: var(--g5);
  background-color: var(--g0);
}

.g, /* muted grey colour */
h2 {
  color: var(--g4);
}

h2 {
  text-transform: capitalize;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
