:root {
  --b: #111; /* background colour */
  --t: #737b8a; /* text colour */
  --c: #21252b; /* bookmark item hover background, hr */
  --c1: #18181b; /* bookmarks bar, load more button */
  --c2: #18181b; /* menu dropdown */
  --c3: #18181b; /* search input */
  --c4: #202023; /* menu hamburger icon, h2, muted text */
  --c5: #24242d; /* search input placeholder */
}
