/**
 * Catppuccin Mocha Theme
 * @see https://catppuccin.com/palette/
 */

:root {
  /* --s: 0 2px 4px #00001126; shadow */
  --s: 0 2px 4px #11111b; /* shadow */
  --b: #1e1e2e; /* background */
  --t: #cdd6f4; /* text */
  --c1: #45475a; /* bookmark node hover background, hr, button border, search input border */
  --c2: #181825; /* bookmarks bar, menu dropdown, "show more" button */
  --c3: #a6adc8; /* icons, empty folder text, text fallback (headings, etc.) */

  color-scheme: dark;
}

a {
  color: #89b4fa;
}
