/* dark theme */
:global(:root) { /* :global hack for svelte */
  --s: #06001124; /* shadow colour */
  --s1: drop-shadow(0 18px 18px #0600114d); /* shadow dark */
  --b: #23252d; /* background colour */
  --t: #9da5b4; /* text colour */
  --c: #21252b; /* bookmark item hover background, hr */
  --c1: #292d35; /* bookmarks bar, load more button */
  --c2: #2f333d; /* menu dropdown */
  --c3: #2c313a; /* search input */
  --c4: #383e4a; /* menu hamburger icon, h2, muted text */
  --c5: #5c6370; /* search input placeholder */
}
