/**
 * Dark Theme (default)
 */

/* stylelint-disable max-line-length */

:global(:root) {
  --b: #23252d; /* background colour */
  --t: #9da5b4; /* text colour */
  --c: #21252b; /* bookmark item hover background, hr */
  --c0: #292d35; /* bookmarks bar, search input, menu dropdown, load more button */
  --c1: #383e4a; /* menu hamburger icon, h2, muted text */
  --c2: #292d35; /* search input */
}
