<!--
  FIXME: Figure out how to prevent empty comments from being added to the DOM, too
  many are being added and it's slowing down initial layout.

  TODO: Reduce the amount of DOM nodes in general.
-->

{#if __node.children !== undefined}
  <!-- folder -->
  <div
    class="bookmark folder {__lvl === 0 && __left ? 'end' : ''}"
    title="{__node.title}"
    on:mouseenter="__onEnter()"
    on:mouseleave="__onLeave()"
  >
    <span class="title">{__node.title}</span>

    {#if __node.parentId > 1}
      <!-- subfolder indicator -->
      <span class="caret">▸</span>
    {/if}

    {#if __show}
      <!-- subfolder -->
      <div class="subfolder {__left ? 'left' : ''}">
        {#if __node.children.length === 0}
          <span class="bookmark" title="">(empty)</span>
        {:else}
          {#each __node.children as __bookmark}
            {#if __bookmark.children !== undefined}
              <!-- folder -->
              <svelte:self __node="{__bookmark}" __lvl="{__lvl + 1}"/>
            {:else}
              <!-- bookmark -->
              <a
                href="{__bookmark.url}"
                title="{__bookmark.title}"
                class="bookmark"
              >
                <img src="chrome://favicon/{__bookmark.url || ''}" class="favicon">
                <span class="title">{__bookmark.title}</span>
              </a>
            {/if}
          {/each}
        {/if}
      </div>
    {/if}
  </div>
{:else}
  <!-- bookmark link -->
  <a
    href="{__node.url}"
    title="{__node.title}"
    class="bookmark"
  >
    <!-- only render img if there's a URL (better initial load performance) -->
    {#if __node.url !== undefined}
      <img src="chrome://favicon/{__node.url}" class="favicon">
    {/if}
    {#if __node.title !== ''}
      <span class="title">{__node.title}</span>
    {/if}
  </a>
{/if}

<script>
  const EVENT_NAME = 'open';
  const OPEN_DELAY = 200;
  const CLOSE_DELAY = 400;
  let listener;

  export default {
    data: () => ({
      __show: false,
      __left: false,
    }),
    oncreate() {
      this.__openTimer = null;
      this.__closeTimer = null;
    },
    ondestroy() {
      // clean up listener to prevent memory leaks
      if (listener) listener.cancel();
    },
    methods: {
      // set up event listener to close subfolder when another opens
      __onOpen() {
        listener = this.root.on(EVENT_NAME, (__lvl) => {
          if (this.get().__show) {
            if (__lvl === this.get().__lvl) {
              this.set({ __show: false });
              this.__resetCloseTimer();
            }
          }
        });
      },

      // subfolder mouse enter
      __onEnter() {
        if (this.get().__show) {
          this.__resetCloseTimer();
        } else {
          // delay to prevent accidental folder open
          this.__openTimer = setTimeout(() => {
            this.root.fire(EVENT_NAME, this.get().__lvl);
            this.set({ __show: true });
            this.__onOpen();
          }, OPEN_DELAY);
        }
      },

      // subfolder mouse leave
      __onLeave() {
        // reset open timer
        if (this.__openTimer !== null) {
          clearTimeout(this.__openTimer);
          this.__openTimer = null;
        }

        // set up subfolder close timer
        if (this.get().__show) {
          this.__closeTimer = setTimeout(() => {
            this.set({ __show: false });
          }, CLOSE_DELAY);
        }
      },

      __resetCloseTimer() {
        if (this.__closeTimer !== null) {
          clearTimeout(this.__closeTimer);
          this.__closeTimer = null;
        }
      },
    },
  };
</script>

<style type="text/postcss" global>
  .favicon,
  .title {
    pointer-events: none; /* prevent being the MouseEvent target */
  }

  .favicon {
    width: 16px;
    height: 16px; /* prevents slight realignment jump on initial load */
  }

  .folder {
    position: relative;
    cursor: pointer;
  }

  /* TODO: Refactor this with a more elegant solution */
  .end {
    margin-left: auto;

    & + & {
      margin-left: 0;
    }
  }

  .caret {
    padding-left: 10px;
    margin-left: auto;
  }

  /* FIXME: "global" on style tag is not working correctly after Svelte 2.9.10 */
  :global(.title) {
    max-width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;

    .favicon + & {
      padding-left: 9px;
    }
  }

  /* stylelint-disable no-descending-specificity */

  :global(.subfolder) {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--c0);
    box-shadow: var(--s0);

    :global(.bookmark) {
      padding: 9px;
    }

    :global(.title) {
      max-width: 40ch;
    }

    & & {
      top: 0;
      left: 100%;
    }
  }

  /* left side folder */
  .left {
    right: 0;
    left: initial;

    :global(.subfolder) {
      right: 100%;
      left: initial;
    }
  }

  .bookmark {
    display: inline-flex;
    align-items: center;
    padding: 9px;
    color: var(--t);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: var(--c);
    }
  }
</style>
