<div id="bookmarks">
  <div id="bookmarks-bar" ref:b>
    {#each __visible as __bookmark}
      <BookmarkItem __node="{__bookmark}" __lvl="{0}" />
    {/each}
  </div>

  {#if __overflow.children.length}
    <BookmarkItem __node="{__overflow}" __lvl="{0}" __left/>
  {/if}

  <BookmarkItem __node="{__bookmarksOther}" __lvl="{0}" __left/>
</div>

<svelte:window on:resize="__setVisibleEnd()"/>

<script>
  import BookmarkItem from './BookmarkItem.html';

  // Measure title text width using the 2d canvas measureText method as it's
  // faster than adding an element to the DOM -- but we need to manually
  // calculate any padding etc.

  const FONT = '18px sans-serif';
  const TITLE_MAX_WIDTH = 144;
  const FAVICON_WIDTH = 16;
  const FAVICON_PADDING = 9;
  const ITEM_PADDING = 9 + 9; // padding left + right

  // reusing the same canvas is much faster
  const canvas = document.createElement('canvas').getContext('2d');
  canvas.font = FONT;
  const ellipsisWidth = canvas.measureText('…').width;
  const titleMaxInnerWidth = TITLE_MAX_WIDTH - ellipsisWidth;

  export default {
    components: {
      BookmarkItem,
    },
    data: () => ({
      __bookmarksBar: [],
      __bookmarksOther: {},
      __end: 0,
    }),
    computed: {
      __visible: ({ __bookmarksBar, __end }) => __bookmarksBar.slice(0, __end),
      __overflow: ({ __bookmarksBar, __end }) => ({ title: '»', children: __bookmarksBar.slice(__end) }),
    },
    oncreate() {
      chrome.bookmarks.getTree((tree) => {
        this.set({
          __bookmarksBar: tree[0].children[0].children,
          __bookmarksOther: tree[0].children[1],
        });
      });
    },
    onstate({ changed, previous }) {
      if (previous === undefined) return;

      if (changed.__bookmarksBar) {
        this.__setVisibleEnd();
      }
    },
    methods: {
      __setVisibleEnd() {
        const { __bookmarksBar } = this.get();
        const bookmarksBarWidth = this.refs.b.offsetWidth - ITEM_PADDING;
        let __end = 0;
        let width = 0;

        __bookmarksBar.every((item, index) => {
          /* eslint-disable-next-line no-nested-ternary */
          const faviconWidth = item.children
            ? 0
            : item.title
              ? FAVICON_WIDTH + FAVICON_PADDING
              : FAVICON_WIDTH;
          const realTitleWidth = item.title ? canvas.measureText(item.title).width : 0;
          const titleWidth = realTitleWidth > titleMaxInnerWidth ? TITLE_MAX_WIDTH : realTitleWidth;
          const itemWidth = ITEM_PADDING + faviconWidth + titleWidth;
          const newWidth = width + itemWidth;

          if (newWidth < bookmarksBarWidth) {
            width = newWidth;
            __end = index + 1;
            return true;
          }
          return false;
        });

        this.set({ __end });
      },
    },
  };
</script>

<style type="text/postcss" global>
  #bookmarks-bar {
    width: 100%;
  }

  #bookmarks {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    height: 41px;
    background: var(--c0);
    box-shadow: var(--s);
    backface-visibility: hidden; /* performance hack; force GPU */
  }
</style>
