<a href="{_url}" class="item" title="{_title}" on:click="fire('click', event)">
  <img src="chrome://favicon/{_url}" class="favicon">
  <!--
    TODO: Try to accomplish the same short text with CSS but without adding any
    wrapper elements.
  -->
  {_shorten(_title, _max)}
</a>

<script>
  export default {
    helpers: {
      _shorten(text, max) {
        if (max === undefined) {
          return text;
        }

        return text.length > max
          ? `${text.slice(0, max)}…`
          : text;
      },
    },
  };
</script>

<style type="text/postcss" global>
  :global(.item) {
    display: block;
    padding: 13px 7px;
    color: var(--t);
    white-space: nowrap;

    #bookmarks &:hover {
      background-color: var(--c);
    }
  }

  .favicon {
    width: 16px;
    height: 16px; /* prevents slight realignment jump on initial load */
    margin: 0 4px;
  }
</style>
