<!--
  TODO: Try to accomplish the same short text like shorten() but with CSS only
  and without  adding any wrapper elements.

  TODO: Add padding to img if there is a textNode but try to do it without
  using JS based logic to keep the component logic free.
-->

<a href="{_node.url}" title="{_node.title}">
  <img src="chrome://favicon/{_node.url}" class="{_node.title && 'pad'}">
  {shorten(_node.title, maxLen)}
</a>

<script>
  import { shorten } from '../common.js';

  export default {
    helpers: {
      shorten,
    },
  };
</script>

<style type="text/postcss" global>
  :global(a),
  :global(.item) {
    display: block;
    color: var(--t);
    white-space: nowrap;
    cursor: pointer;

    #bookmarks & {
      padding: 0 13px;

      &:hover {
        background-color: var(--c);
      }
    }
  }

  /* all <img> are favicons */
  img {
    width: 16px;
    height: 16px; /* prevents slight realignment jump on initial load */
  }

  .pad {
    margin: 0 6px 0 0;
  }
</style>
