<div id="menu">
  <div id="icon">☰</div>

  <div id="dropdown">
    <a href="chrome-search://local-ntp/local-ntp.html" class="menu-item">
      Open Default Tab
    </a>
    <a href="chrome://bookmarks/" class="menu-item">
      Bookmarks Manager
    </a>
    <a href="chrome://downloads/" class="menu-item">
      Downloads
    </a>
    <a href="chrome://history/" class="menu-item">
      History
    </a>
    <a href="chrome://settings/passwords" class="menu-item">
      Passwords
    </a>

    <hr>

    <a href="" class="menu-item" on:click="__settings(event)">
      New Tab Settings
    </a>
    <a href="https://github.com/MaxMilton/new-tab/issues" class="menu-item">
      Submit Bug
    </a>
  </div>
</div>

<script>
  export default {
    methods: {
      __settings(event) {
        event.stopPropagation();
        event.preventDefault();
        chrome.runtime.openOptionsPage();
      },
    },
  };
</script>

<style type="text/postcss" global>
  hr {
    border: 0;
    border-bottom: 1px solid var(--c);
  }

  .menu-item {
    display: block;
    padding: 9px 0;
    color: var(--t);
  }

  #menu {
    position: relative;
    display: inline-block;
    padding: 10px 84px 84px 42px;
    margin: -28px -84px -64px 0;
    font-size: 20px;
  }

  #icon {
    font-size: 30px;
    color: var(--c2);
  }

  #dropdown {
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 18px;
    white-space: nowrap;
    background: var(--c1);
    box-shadow: var(--s1);
    opacity: 0;
    transition: all 150ms ease-out;
    transform: scale(0.5);
    transform-origin: 0 10px;

    #menu:hover > &,
    #menu:focus > & {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>
