<div id="m">
  <div id="i">☰</div>

  <div id="d">
    <a href="chrome-search://local-ntp/local-ntp.html" class="m" on:click="__link(event)">
      Open Default Tab
    </a>
    <a href="chrome://bookmarks/" class="m" on:click="__link(event)">
      Bookmarks Manager
    </a>
    <a href="chrome://downloads/" class="m" on:click="__link(event)">
      Downloads
    </a>
    <a href="chrome://history/" class="m" on:click="__link(event)">
      History
    </a>
    <a href="chrome://settings/passwords" class="m" on:click="__link(event)">
      Passwords
    </a>

    <hr>

    <a href="" class="m" on:click="__settings(event)">
      New Tab Settings
    </a>
    <a href="https://github.com/MaxMilton/new-tab/issues" class="m">
      Submit Bug
    </a>
  </div>
</div>

<script>
  import { chromeLink } from '../helpers';

  export default {
    methods: {
      __link: chromeLink,

      __settings(event) {
        event.preventDefault();
        chrome.runtime.openOptionsPage();
      },
    },
  };
</script>

<style>
  :global(hr) {
    border: 0;
    border-bottom: 1px solid var(--c);
  }

  :global(.m) { /* menu item */
    display: block;
    padding: 9px 0;
    color: var(--t);
  }

  :global(#m) { /* menu */
    position: absolute;
    display: inline-block;
    padding: 18px 84px 84px 42px;
    margin: -28px -84px -84px 0;
    font-size: 20px;

    @media (max-width: 67em) {
      position: relative;
    }
  }

  :global(#i) { /* menu hamburger icon */
    font-size: 30px;
    color: var(--c4);
  }

  :global(#d) { /* menu dropdown */
    position: absolute;
    top: 18px;
    left: 42px;
    z-index: 1;
    padding: 18px;
    white-space: nowrap;
    background: var(--c2);
    filter: var(--s1);
    opacity: 0;
    transition: all 150ms ease-out;
    transform: scale(0.5);
    transform-origin: 0 18px;
    will-change: opacity, transform;

    :global(#m):hover > &,
    :global(#m):focus > & {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>
