<!--
  XXX: The h2 title is implemented abnormally to get around a current Svelte
  limitation where it creates multiple text nodes instead of realising there's
  multiple text nodes that could be combined into one. Once Svelte has this
  optimisation these titles should be refactored.
-->

<h2>{`${resultsName} (${resultsList.length}/${resultsRaw.length})`}</h2>

{#each resultsList as _node}
  <!-- htmlmin:ignore -->
  <LinkItem {_node}/>
  <!-- htmlmin:ignore -->
{/each}

{#if resultsName !== 'Top Sites' && resultsList.length < resultsRaw.length}
  <button on:click="loadMore(resultsList.length)">Show more ▾</button>
{/if}

<script>
  import LinkItem from './LinkItem.html';

  const MORE_RESULTS_AMOUNT = 100;

  export default {
    components: {
      LinkItem,
    },
    methods: {
      loadMore(length) {
        this.set({ resultsList: this.get().resultsRaw.slice(0, length + MORE_RESULTS_AMOUNT) });
      },
    },
  };
</script>
