<!--
$ let isSearching = state.s !== '';

macro itemList(title, list, rawList, keyPrefix)
  $ let count = list.length;
  $ let length = rawList.length;

  if(count)
    h2 -- ${title} (${count}/${length})

    for(item in list)
      a.r on-click(chromeLink) key=keyPrefix+item.id href=item.url
        img.i src=`chrome://favicon/${item.url}`
        -- ${item.title || item.url}

    if(count < length)
      button.f on-click(component.__loadMore, title, count) -- Show more...
  else-if(isSearching)
    p.g -- No matching ${title}

div.c
  input#s on-keyup(component.__cancelSearch) bind('s') key="i" type="text" placeholder="Search tabs, bookmarks, and history..." autocomplete="off"

  </!-- Open Tabs --/>
  $ let tabsCount = state.__tabs.length;
  if(tabsCount)
    h2 -- Open Tabs (${tabsCount}/${state.__tabsRaw.length})

    for(tab in state.__tabs)
      a.r on-click(component.__tabClick, tab) key='t'+tab.id href=tab.url
        img.i src=tab.favIconUrl

        -- ${tab.title}
  else-if(isSearching)
    p.g -- No matching Open Tabs

  </!-- Bookmarks --/>
  itemList('Bookmarks', state.__bookmarks, state.__bookmarksRaw, 'b')

  </!-- History --/>
  itemList('History', state.__history, state.__historyRaw, 'h')
-->

<div class="c">
  <input type="text" id="s" placeholder="Search tabs, bookmarks, and history..." autocomplete="off">
</div>

<script>
  import { chromeLink } from '../helpers';

  export default {
    methods: {
      __link: chromeLink,

      // FIXME: Not working + get rid of prevDef too
      __settings(event) {
        chrome.runtime.openOptionsPage();
        event.preventDefault();
      },
    },
  };

  // /////////////////////////////////////////////////////////////

  // import { chromeLink } from '../helpers';

  // /**
  //  * Delay running a function until X ms have passed since its last call.
  //  * @see https://github.com/developit/decko/blob/master/src/decko.js
  //  * @param {Function} fn The function to debounce.
  //  * @param {Number} delay How long to wait for more function calls before executing
  //  * the function in milliseconds.
  //  * @returns {Function}
  //  */
  // static function debounce(fn, delay) {
  //   let args;
  //   let context;
  //   let timer;

  //   return function (...a) { // eslint-disable-line func-names
  //     args = a;
  //     context = this;

  //     if (!timer) {
  //       timer = setTimeout(() => {
  //         fn.apply(context, args);
  //         args = context = timer = null; // eslint-disable-line no-multi-assign
  //       }, delay);
  //     }
  //   };
  // }

  // class {
  //   onCreate() {
  //     this.state = {
  //       s: '', // search; manually mangled since it's used with bind()
  //       __tabsRaw: [],
  //       __tabs: [],
  //       __bookmarksRaw: [],
  //       __bookmarks: [],
  //       __historyRaw: [],
  //       __history: [],
  //     };
  //     this.__lastSearch = '';
  //     this.__onSearch = debounce(this.__doSearch, 260);

  //     this.__getTabs();
  //   }

  //   onMount() {
  //     // update tab list on tab events
  //     chrome.tabs.onUpdated.addListener((tabId, changeInfo) => {
  //       if (changeInfo.title !== undefined) {
  //         this.__getTabs();
  //       }
  //     });
  //     chrome.tabs.onMoved.addListener(() => this.__getTabs());
  //     chrome.tabs.onRemoved.addListener(() => this.__getTabs());

  //     // bring focus to search input on click
  //     const el = this.getEl('i');
  //     this.subscribeTo(window).on('click', () => el.focus());
  //   }

  //   onRender() {
  //     if (this.state.s !== this.__lastSearch) {
  //       this.__onSearch();
  //     }
  //   }

  //   __doSearch() {
  //     const state = this.state;

  //     this.__lastSearch = state.s;

  //     // reset search when input is empty
  //     if (state.s === '') {
  //       state.__tabs = state.__tabsRaw;
  //       state.__bookmarks.length = 0;
  //       state.__history.length = 0;
  //       return;
  //     }

  //     // search history (run first since it takes the longest)
  //     chrome.history.search({ text: state.s }, (results) => {
  //       state.__historyRaw = results;
  //       state.__history = state.__historyRaw.slice(0, 10);
  //     });

  //     // search bookmarks
  //     chrome.bookmarks.search(state.s, (results) => {
  //       state.__bookmarksRaw = results;
  //       state.__bookmarks = state.__bookmarksRaw.slice(0, 10);
  //     });

  //     // search open tabs
  //     state.__tabs = state.__tabsRaw.filter(item =>
  //         item.title.toLowerCase().indexOf(state.s) > -1 ||
  //         item.url.toLowerCase().indexOf(state.s) > -1);
  //   }

  //   __getTabs() {
  //     chrome.tabs.query({}, (tabs) => {
  //       this.state.__tabsRaw = tabs;

  //       if (this.state.s === '') {
  //         this.state.__tabs = tabs;
  //       }
  //     });
  //   }

  //   __onTabClick(tab, event) {
  //     // update current tab
  //     chrome.tabs.update(tab.id, { active: true });

  //     // switch active window if the tab isn't in the current window
  //     chrome.windows.getCurrent({}, currentWindow => {
  //       if (currentWindow.id !== tab.windowId) {
  //         chrome.windows.update(tab.windowId, { focused: true });
  //       }
  //     });

  //     // close this NTP
  //     chrome.tabs.getCurrent((tab) => {
  //       chrome.tabs.remove(tab.id);
  //     });

  //     event.preventDefault();
  //   }

  //   __cancelSearch(event) {
  //     if (event.key === 'Escape') {
  //       this.state.s = '';
  //       this.state.__tabs = this.state.__tabs;
  //       this.state.__bookmarks.length = 0;
  //       this.state.__history.length = 0;
  //     }
  //   }

  //   __loadMore(title, length) {
  //     if (title === 'Bookmarks') {
  //       this.state.__bookmarks = this.state.__bookmarksRaw.slice(0, length + 100);
  //     } else {
  //       this.state.__history = this.state.__historyRaw.slice(0, length + 100);
  //     }
  //   }
  // }
</script>

<style>
  :global(.c) { /* container */
    max-width: 60rem;
    padding: 0 18px;
    margin: 0 auto;
  }

  :global(#s) { /* search */
    width: 100%;
    padding: 11px 20px;
    margin: 0 0 18px;
    font-size: 22px;
    color: var(--t);
    background: var(--c3);
    filter: drop-shadow(0 5px 6px var(--s));
    border: 0;

    &::placeholder {
      color: var(--c5);
    }
  }

  :global(.r) { /* search result */
    display: flex;
    align-items: center;
    padding: 9px 0;
    overflow: hidden;
    color: var(--t);
    white-space: nowrap;

    & > .i {
      padding-right: 9px;
    }
  }

  :global(button) {
    padding: 9px 18px;
    font-size: 20px;
    color: var(--t);
    background: var(--c1);
    border: 0;
  }
</style>
